.listCont {
  display: flex;
  justify-content: space-around;
}

.ul2{
  margin-top: 150px;
  position: relative;
  list-style: none;
}

.ul {
  background-color: white;
  width: 600px;
  color: darkslategrey;
  list-style: none;
  position: relative;
  margin-top: 100px;
  /* margin-left: 100px; */
  overflow-x: scroll;
  line-height: 30px;
  font-weight: bolder;
  font-family: "lora", serif;
  padding: 25px;
  /* box-shadow: 2.5px 5px 9px  rgb(48, 47, 47); */
}

.ul:hover{
 color: white;
 background-color: darkslategray;
}
.ul1 {
  text-align: center;
  background-color: darkslategrey;
  color: white;
  list-style: none;
  position: relative;
  margin-top: 100px;
  /* margin-left: 350px; */
  line-height: 30px;
  font-weight: bolder;
  padding: 25px;
  padding-top: 80px;
  font-family: "lora", serif;
  box-shadow: 2.5px 5px 9px rgb(48, 47, 47);
}

.ul1:hover{
  color: darkslategrey;
  background-color: white;
}

.ftImg {
  width: 100%;
  height: 400px;
  object-fit: cover;
  position: absolute;
}


