.recipes {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 590px;
  margin: auto;
  box-shadow: 2.5px 2.5px 40px rgb(165, 165, 165);
}

.recpieTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  margin: 20px;
  text-transform: uppercase;
  background-color: white;
  font-family: "lora", serif;
  font-size: 24px;
  font-weight: 700;
}

.img-recipe img {
  object-fit: cover;
  width: 100%;
  margin: auto;
}

.description p {

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkslategrey;
  color: white;
  font-family: "lora", serif;
  margin:auto;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 13px;
  color: #999;
  margin-top: 15px;
}
